<?xml version="1.0" encoding="utf-8" ?>
<!--Please note, sdk.config isn't used in JI QuickBooks. You don't need to modify this file.-->
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""  />
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
          <baseUrl qbd="https://sandbox-quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
        <!--<baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />-->
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder. 
               The file should be removed manually
        
        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler
                  
        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">  
           
              For advance usage you can specify returnObject="true" to work with instance of contentWriter                
            -->
            <contentWriter strategy="file" prefix="ipp"/>
            <specialConfiguration>
                <TaxService jsonOnly="true"/>
            </specialConfiguration>
            <minorVersion>3</minorVersion>
        </ipp>
    </intuit>
    <appSettings>
        <!--Intuit Anywhere QBD-->
        <add key="AccessTokenQBD" value="" />
        <add key="AccessTokenSecretQBD" value="" />
        <add key="ConsumerKeyQBD" value="" />
        <add key="ConsumerSecretQBD" value="" />
        <add key="RealmIAQBD" value="" />
        
        <!--Intuit Anywhere QBO-->
        <add key="AccessTokenQBO" value="" />
        <add key="AccessTokenSecretQBO" value=""  />
        <add key="ConsumerKeyQBO" value="" />
        <add key="ConsumerSecretQBO" value="" />
        <add key="RealmIAQBO" value="" />
    </appSettings>
</configuration>
