/* Static View-only Star Version */
.fivestar-hearts div.fivestar-widget-static .star {
  width: 30px;
  height: 30px;
  background: url(Heart_unlike.png) no-repeat 0 0px;
  background-size: contain;
}

.fivestar-hearts div.fivestar-widget-static .star span.on {
  background: url(Heart_unlike.png) no-repeat 0 -32px;
  background-size: contain;
}

.fivestar-hearts div.fivestar-widget-static .star span.off {
  background: url(Heart_unlike.png) no-repeat 0 0;
  background-size: contain;
}

/* Javascript Star Version */
.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .star {
  width: 30px;
  height: 30px;
}
.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .cancel a {
  width: 30px;
  height: 30px;
  background: url(Heart_like.png) no-repeat 0 0;
  background-size: contain;
}

.fivestar-hearts div.fivestar-widget .star,
.fivestar-hearts div.fivestar-widget .star a {
  background: url(Heart_unlike.png) no-repeat 0 0;
  background-size: contain;
}

.fivestar-hearts div.fivestar-widget div.on a {
  background-position: 0 -16px;
}
.fivestar-hearts div.fivestar-widget div.hover a,
.fivestar-hearts div.rating div a:hover {
  background-position: 0 -32px;
}